@using VE.DataTransferObject.Enums;

<form method="post" action="@Url.Action("SubmitAction", "Home")" class="mt-1">
    @Html.AntiForgeryToken()
    <section class="card card-header mb-2 mt-3">
        <section>
            <div>
                <div class="row">
                    <p class="fw-bold">Requestor Information</p>
                </div>

                <div class="row mb-1" style="font-size: 12px;">
                    <div class="col-md-4">Employee Name: <b>@ViewBag.EmployeeData.EmployeeName </b></div>
                    <div class="col-md-4">Employee ID:<b> @ViewBag.EmployeeData.EmployeeId</b></div>
                    <div class="col-md-4">Position:<b> @ViewBag.EmployeeData.Designation</b></div>
                </div>

                <div class="row mb-1" style="font-size: 12px;">
                    <div class="col-md-4">Department:<b> @ViewBag.EmployeeData.DeptName</b></div>
                    <div class="col-md-4">Location: <b>@ViewBag.EmployeeData.BusAreaName</b></div>
                    <div class="col-md-4">Mobile: <b>@ViewBag.EmployeeData.Mobile</b></div>
                </div>

                <div class="row mb-1" style="font-size: 12px;">
                    <div class="col-md-4">Email: <b>@ViewBag.EmployeeData.Email</b></div>
                    <div class="col-md-4">Grade: <b>@ViewBag.EmployeeData.JobGrade</b></div>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <p class="fw-bold">Vendor Automation Code: <b>@ViewBag.AppProspectiveVendor.Code</b></p>
            <div class="row mb-1" style="font-size: 12px;">
                <div class="col-md-4">
                    <label for="VendorName" class="form-label">Vendor Name:</label>
                    <span id="VendorName" class="form-text"><b>@ViewBag.AppProspectiveVendor.VendorName</b></span>
                </div>
                <div class="col-md-4">
                    <label for="Status" class="form-label">Status:</label>
                    <span id="Status" class="form-text"><b>@Enum.GetName(typeof(Status), @ViewBag.AppProspectiveVendor.Status)</b> </span>
                </div>
                <div class="col-md-4">
                    <label for="VendorEmail" class="form-label">Vendor Email:</label>
                    <span id="VendorEmail" class="form-text"><b>@ViewBag.AppProspectiveVendor.VendorEmail</b></span>
                </div>
            </div>

            <div class="row mb-1" style="font-size: 12px;">
                <div class="col-md-4">
                    <label for="ServiceDescription" class="form-label">Service Description:</label>
                    <span id="ServiceDescription" class="form-text"><b>@ViewBag.AppProspectiveVendor.ServiceDescription</b></span>
                </div>
                <div class="col-md-4">
                    <label for="RequirementGeneral" class="form-label">Supplier General Request:</label>
                    <span id="RequirementGeneral" class="form-text"><b>@ViewBag.AppProspectiveVendor.RequirementGeneral</b></span>
                </div>
                <div class="col-md-4">
                    <label for="RequirementOther" class="form-label">Supplier Other Request:</label>
                    <span id="RequirementOther" class="form-text"><b>@ViewBag.AppProspectiveVendor.RequirementOther</b></span>
                </div>
            </div>

            <div class="row mb-1" style="font-size: 12px;">
                <div class="col-md-4">
                    <label for="TypeOfSupplierId" class="form-label">Supplier Type:</label>
                    <span id="TypeOfSupplierId" class="form-text"><b>@ViewBag.AppProspectiveVendor.TypeOfSupplierId</b></span>
                </div>
                <div class="col-md-4">
                    <label for="ExisitngSupplierCount" class="form-label">Existing Supplier Count:</label>
                    <span id="ExisitngSupplierCount" class="form-text"><b>@ViewBag.AppProspectiveVendor.ExisitngSupplierCount</b></span>
                </div>
                <div class="col-md-4">
                    <label for="ExisitngSupplierProblem" class="form-label">Existing Supplier Problem:</label>
                    <span id="ExisitngSupplierProblem" class="form-text"><b>@ViewBag.AppProspectiveVendor.ExisitngSupplierProblem</b></span>
                </div>
            </div>

            <div class="row mb-1" style="font-size: 12px;">
                <div class="col-md-4">
                    <label for="NewSupplierAdditionReason" class="form-label">Supplier Add Reason:</label>
                    <span id="NewSupplierAdditionReason" class="form-text"><b>@ViewBag.AppProspectiveVendor.NewSupplierAdditionReason</b></span>
                </div>
            </div>
        </section>
    </section>
    <section class="card card-body mb-3" style="font-size: 12px;">
        <div class="col-12">
            <label class="form-label fw-bold">Materials Lists:</label>
            <table class="table table-responsive" style="font-size: 13px">
                <thead>
                    <tr style="border:1.5px;">
                        <td>#</td>
                        <td>Material Code</td>
                        <td>Material Name</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var appProspectiveVendorMaterials = ViewBag.AppProspectiveVendorMaterials;

                        for (var i = 0; i < appProspectiveVendorMaterials.Count; i++)
                        {
                            var item = appProspectiveVendorMaterials[i];
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@item.MaterialCode</td>
                                <td>@item.MaterialName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </section>

    @if (ViewBag.ActionEnabled)
    {
        <section class="card card-group justify-content-between p-3 mb-3 align-items-center">
            <div>
                <label for="Comment" class="form-label">Comment:</label>
                <textarea id="Comment" name="Comment" class="form-control no-padding" style="height: 100px; width: 500px;" required></textarea>
            </div>
            <div>
                <div class="d-flex justify-content-between gap-5">
                    <input type="hidden" name="AppProspectiveVendorCode" value="@ViewBag.AppProspectiveVendor.Code" />
                    <input type="hidden" name="CurrentStatus" value="@ViewBag.AppProspectiveVendor.Status" />
                    <button type="submit" name="submitBtn" value="@ApproverAction.Approved" class="btn btn-info">Approve</button>
                    <button type="submit" name="submitBtn" value="@ApproverAction.ChangeRequest" class="btn btn-warning">Change Request</button>
                    @if (ViewBag.AppProspectiveVendor.Status != null && (Status)ViewBag.AppProspectiveVendor.Status == Status.RFISubmittedByProspectiveVendor || (Status)ViewBag.AppProspectiveVendor.Status == Status.ReSubmittedFromVendor)
                    {
                        <button type="submit" name="submitBtn" value="@ApproverAction.VendorReSubmit" class="btn btn-warning">Re-Submit</button>
                    }
                    <button type="submit" name="submitBtn" value="@ApproverAction.Rejected" class="btn btn-danger">Reject</button>
                </div>
            </div>
        </section>
    }
    @if (ViewBag.PendingWithVendor != null)
    {
        <section class="card card-text mb-3 p-2">
            <p class="text-info fw-bold text-center">Waiting for Vendor's Submission</p>
        </section>
    }
</form>

@if (ViewBag.AppRFIGeneralInformation != null)
{
    <section class="card card-text p-3" style="font-size: 12px;margin-bottom: 10px">
        <div class="d-flex justify-content-between">
            <p class="fw-bold">General Informations</p>
        </div>
        <div style="height: auto; overflow-y: auto;">
            <table class="table table-border">
                <thead>
                    <tr>
                        <th>CompanyName</th>
                        <th>ParentCompany</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>PostCode</th>
                        <th>MobileNumber</th>
                        <th>EmailAddress</th>
                        <th>Website</th>
                        <th>ContactPersonTitle</th>
                        <th>Agent</th>
                        <th>AgentStateName</th>
                        <th>AgentAddressPrincipal</th>
                        <th>AgentFileName</th>
                        <th>FullTimeEmployeeNumber</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.AppRFIGeneralInformation)
                    {
                        <tr>
                            <td>@item.CompanyName</td>
                            <td>@item.ParentCompany</td>
                            <td>@item.Street</td>
                            <td>@item.City</td>
                            <td>@item.Country</td>
                            <td>@item.PostCode</td>
                            <td>@item.MobileNumber</td>
                            <td>@item.EmailAddress</td>
                            <td>@item.Website</td>
                            <td>@item.ContactPersonTitle</td>
                            <td>@item.IsAgent</td>
                            <td>@item.AgentStateName</td>
                            <td>@item.AgentAddressPrincipal</td>
                            <td>@item.AgentFileName</td>
                            <td>@item.FullTimeEmployeeNumber</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
}
@if (ViewBag.AppRFILegalEstablishments != null)
{
    <section class="card card-text p-3" style="font-size: 12px;margin-bottom: 10px">
        <div class="d-flex justify-content-between">
            <p class="fw-bold">RFI Legal Establishments</p>
        </div>
        <div style="height: auto; overflow-y: auto;">
            <table class="table table-border">
                <thead>
                    <tr>
                        <th>TradeLicenseNumber</th>
                        <th>IssueDate</th>
                        <th>ValidityPeriod</th>
                        <th>TradeLicenseFileName</th>
                        <th>IncorporationCertificate</th>
                        <th>IncomeTaxCertificate</th>
                        <th>IRCFileName</th>
                        <th>ERCFileName</th>
                        <th>BankSolvencyCertificate</th>
                        <th>BankName</th>
                        <th>BankAccountNumber</th>
                        <th>BankRoutingNumber</th>
                        <th>BankAddress</th>
                        <th>AnnualTurnover</th>
                        <th>IsAuditedFinancialStatement</th>
                        <th>AuditedFinancialStatementFileName</th>
                        <th>PendingLawsuitFileName</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.AppRFILegalEstablishments)
                    {
                        <tr>
                            <td>@item.TradeLicenseNumber</td>

                            <td>@item.IssueDate</td>
                            <td>@item.ValidityPeriod</td>
                            <td>@item.TradeLicenseFileName</td>
                            <td>@item.IncorporationCertificate</td>
                            <td>@item.IncomeTaxCertificate</td>
                            <td>@item.IRCFileName</td>
                            <td>@item.ERCFileName</td>
                            <td>@item.BankSolvencyCertificate</td>
                            <td>@item.BankName</td>
                            <td>@item.BankAccountNumber</td>
                            <td>@item.BankRoutingNumber</td>
                            <td>@item.BankAddress</td>
                            <td>@item.AnnualTurnover</td>
                            <td>@item.IsAuditedFinancialStatement</td>
                            <td>@item.AuditedFinancialStatementFileName</td>
                            <td>@item.PendingLawsuitFileName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
}
@if (ViewBag.AppRFIExperienceProductAvailabilities != null)
{
    <section class="card card-text p-3" style="font-size: 12px; margin-bottom: 10px">
        <div class="d-flex justify-content-between">
            <p class="fw-bold">RFI Experience Products</p>
        </div>
        <div style="height: auto; overflow-y: auto;">
            <table class="table table-border">
                <thead>
                    <tr>
                        <th>ProductionVolume</th>
                        <th>BusinessYear</th>
                        <th>StorageCapacity</th>
                        <th>PreviousCompanyReference</th>
                        <th>CompanyBrochureFileName</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.AppRFIExperienceProductAvailabilities)
                    {
                        <tr>
                            <td>@item.ProductionVolume</td>
                            <td>@item.BusinessYear</td>
                            <td>@item.StorageCapacity</td>
                            <td>@item.PreviousCompanyReference</td>
                            <td>@item.CompanyBrochureFileName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
}
@if (ViewBag.AppRFICertificates != null)
{
    <section class="card card-text p-3" style="font-size: 12px; margin-bottom: 10px">
        <div class="d-flex justify-content-between">
            <p class="fw-bold">RFI Certificates</p>
        </div>
        <div style="height: auto; overflow-y: auto;">
            <table class="table table-border">
                <thead>
                    <tr>
                        <th>StandardApproveFileName</th>
                        <th>IsCompanyDocumentedQAPolicy</th>
                        <th>IsCompanyMembershipWithNationalOrInternational</th>
                        <th>IsCompanyCoveredInsurance</th>
                        <th>CompanyCoveredInsuranceFileName</th>
                        <th>IsCompanyDocumentedEnvironmentalPolicy</th>
                        <th>CompanyDocumentedEnvironmentalPolicyFileName</th>
                        <th>IsCompanyRelatedMember</th>
                        <th>CompanyRelatedMemberDetails</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.AppRFICertificates)
                    {
                        <tr>
                            <td>@item.StandardApproveFileName</td>
                            <td>@item.IsCompanyDocumentedQAPolicy</td>
                            <td>@item.IsCompanyMembershipWithNationalOrInternational</td>
                            <td>@item.IsCompanyCoveredInsurance</td>
                            <td>@item.CompanyCoveredInsuranceFileName</td>
                            <td>@item.IsCompanyDocumentedEnvironmentalPolicy</td>
                            <td>@item.CompanyDocumentedEnvironmentalPolicyFileName</td>
                            <td>@item.IsCompanyRelatedMember</td>
                            <td>@item.CompanyRelatedMemberDetails</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
}









<section class="card card-text p-3" style="font-size: 12px;">
    <div class="d-flex justify-content-between">
        <p class="fw-bold">History Log</p>
        <p> <span class="fw-bold"> Pending With</span>: @ViewBag.PendingWith </p>
    </div>

    <table class="table table-border">
        <thead>
            <tr>
                <th>Status</th>
                <th>Action</th>
                <th>Action By</th>
                <th>Comment</th>
                <th>Creation Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.AppVendorEnlistmentLogs)
            {
                <tr>
                    <td>@Enum.GetName(typeof(Status), item.Status)</td>
                    <td>@item.Action</td>
                    <td>@item.ActionById</td>
                    <td>@item.Comment</td>
                    <td>@item.CreationTime</td>
                </tr>
            }
        </tbody>
    </table>
</section>
