@using VE.DataTransferObject.Enums;
<h4 class="text-center">CODE : @ViewBag.AppProspectiveVendor.Code</h4>
<hr />
<form method="post" action="@Url.Action("SubmitAction", "VendorAutomation")" class="mt-1">
    @Html.AntiForgeryToken()

    <div class="row mb-1" style="font-size: 12px;">
        <div class="col-md-4">
            <label for="VendorName" class="form-label">Vendor Name:</label>
            <span id="VendorName" class="form-text">@ViewBag.AppProspectiveVendor.VendorName</span>
        </div>
        <div class="col-md-4">
            <label for="VendorEmail" class="form-label">Vendor Email:</label>
            <span id="VendorEmail" class="form-text">@ViewBag.AppProspectiveVendor.VendorEmail</span>
        </div>
        <div class="col-md-4">
            <label for="SelectedMaterialCodes" class="form-label">Select Materials:</label>
            <span id="SelectedMaterialCodes" class="form-text">
                @{
                    var appProspectiveVendorMaterials = ViewBag.AppProspectiveVendorMaterials;

                    foreach (var item in appProspectiveVendorMaterials)
                    {
                        <span>@item.MaterialName, </span>
                    }
                }
            </span>
        </div>
    </div>

    <div class="row mb-1" style="font-size: 12px;">
        <div class="col-md-4">
            <label for="ServiceDescription" class="form-label">Service Description:</label>
            <span id="ServiceDescription" class="form-text">@ViewBag.AppProspectiveVendor.ServiceDescription</span>
        </div>
        <div class="col-md-4">
            <label for="RequirementGeneral" class="form-label">Supplier General Request:</label>
            <span id="RequirementGeneral" class="form-text">@ViewBag.AppProspectiveVendor.RequirementGeneral</span>
        </div>
        <div class="col-md-4">
            <label for="RequirementOther" class="form-label">Supplier Other Request:</label>
            <span id="RequirementOther" class="form-text">@ViewBag.AppProspectiveVendor.RequirementOther</span>
        </div>
    </div>

    <div class="row mb-1" style="font-size: 12px;">
        <div class="col-md-4">
            <label for="TypeOfSupplierId" class="form-label">Supplier Type:</label>
            <span id="TypeOfSupplierId" class="form-text">@ViewBag.AppProspectiveVendor.TypeOfSupplierId</span>
        </div>
        <div class="col-md-4">
            <label for="ExisitngSupplierCount" class="form-label">Existing Supplier Count:</label>
            <span id="ExisitngSupplierCount" class="form-text">@ViewBag.AppProspectiveVendor.ExisitngSupplierCount</span>
        </div>
        <div class="col-md-4">
            <label for="ExisitngSupplierProblem" class="form-label">Existing Supplier Problem:</label>
            <span id="ExisitngSupplierProblem" class="form-text">@ViewBag.AppProspectiveVendor.ExisitngSupplierProblem</span>
        </div>
    </div>

    <div class="row mb-1" style="font-size: 12px;">
        <div class="col-md-4">
            <label for="NewSupplierAdditionReason" class="form-label">Supplier Add Reason:</label>
            <span id="NewSupplierAdditionReason" class="form-text">@ViewBag.AppProspectiveVendor.NewSupplierAdditionReason</span>
        </div>
    </div>

    <div class="row mb-1" style="font-size: 12px;">
        <div class="col-md-4">
            <label for="Comment" class="form-label">Comment:</label>
            <input type="text" id="Comment" name="Comment" class="form-control no-padding" required />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <input type="hidden" name="AppProspectiveVendorCode" value="@ViewBag.AppProspectiveVendor.Code" />
            <button type="submit" name="submitBtn" value="@ApproverAction.Approved" class="btn btn-info">Approve</button>
            <button type="submit" name="submitBtn" value="@ApproverAction.Approved" class="btn btn-danger">Reject</button>
        </div>
    </div>
</form>

<hr />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Status</th>
            <th>Action</th>
            <th>Action By ID</th>
            <th>Comment</th>
            <th>Creation Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.AppVendorEnlistmentLogs)
        {
            <tr>
                <td>@item.Status</td>
                <td>@item.Action</td>
                <td>@item.ActionById</td>
                <td>@item.Comment</td>
                <td>@item.CreationTime</td>
            </tr>
        }
    </tbody>
</table>


